@import "tailwindcss";

html,
body {
  overscroll-behavior-y: none;
}

:root {
  font-family:
    Helvetica Neue,
    Arial,
    Helvetica,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Lado esquerdo */
.clip-left {
  clip-path: polygon(0 0, 60% 0, 52% 50%, 60% 100%, 0 100%);
}

/* Lado direito */
.clip-right {
  clip-path: polygon(60% 0, 100% 0, 100% 100%, 60% 100%, 52% 50%);
}

/* Divisor branco de 1px */
.clip-divider {
  clip-path: polygon(59% 0, 61% 0, 53% 50%, 61% 100%, 59% 100%);
}

/* =========================
   DESIGN TOKENS (THEME)
========================= */
@theme {
  /* 🎨 Colors */
  --color-main: #132838;
  --color-column: #00c00a;
  --color-task: #242528;
  --color-tv-yellow: #ffff00;
  --color-tv-green: #00ff00;
  --color-tv-red: #ff0000;
	--color-primary: #ff0000;
	--color-secundary: #00c00a;

  /* 🔤 Font sizes */
  --text-xxs: 0.65rem;
  --text-xxs--line-height: 0.7rem;

  --text-tv: 1.7rem;
  --text-tv--line-height: 2.5rem;

  /* 📐 Breakpoints */
  --breakpoint-tablet: 500px;
  --breakpoint-laptop: 700px;
  --breakpoint-tv: 1280px;
  --breakpoint-tv-full-hd: 3840px;

  /* 🎞️ Animations */
  --animate-spin-fast: spin 0.5s linear infinite;
  --animate-spin-medium: spin 1s linear infinite;
  --animate-spin-slow: spin 2s linear infinite;
}
@utility w-col {
  width: 28ch;
}